.product {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 500px) {
  .product {
    grid-template-columns: minmax(160px, 35%) minmax(250px, 1fr);
  }
}

.product .details {
  padding-left: 1rem;
}

.product .count {
  font-size: 2.2rem;
  font-weight: bold;
}

.product .details .attribution img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}